[user]
	name = Heiko
	email = h.e.noordhof@rug.nl
[user]
[user]
	name = Heiko Noordhof
	email = h.e.noordhof@rug.nl
[user]
	name = Heiko Noordhof
	email = h.e.noordhof@rug.nl
[user]
	name = Heiko Noordhof
	email = h.e.noordhof@rug.nl
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
    l = log -n10 --graph --pretty='format:%C(yellow)%h%Creset%C(white)%d%Creset %C(blue)%cr%Creset %C(dim green)%cn%Creset %s'
    ll = log --graph --pretty='format:%C(yellow)%h%Creset%C(white)%d%Creset %C(blue)%cr%Creset %C(dim green)%cn%Creset %s'
    wl = log --graph --pretty='format:%C(yellow)%h%Creset %C(blue)%cr%Creset %C(dim green)%cn%Creset%C(white)%d%Creset\n    %w(80,0,4)%s'
    all = log --all --graph --pretty='format:%C(yellow)%h%Creset%C(white)%d%Creset %C(blue)%cr%Creset %C(dim green)%cn%Creset %s'
#### option too new vfor many git clients
# [push]
#	default = simple
[credential]
	helper = cache
